.navbar {
  background-color: black;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #383838;
}

#Projects {
  background-color: #383838;
}

section {
  padding-top: 5rem;
}

.footer {
  background-color: black;
}
